---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Home">
  <p class="text-center">
    Hello, I'm Herschel Pravin Pawar. This is my personal website which is under construction! Please come back later!
  </p>
</DefaultLayout>
