---
import Hero from '../components/Hero.astro';
import Quote from '../components/Quote.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Home">
  <div class="flex items-center justify-center">
    <button class="loading glass btn"><span>under construction! Please come back later!</span></button>
  </div>
  <div class="divider py-16">PREVIEW</div>

  <section id="hero" class="rounded-box relative m-4 overflow-hidden">
    <div class="absolute inset-0 bg-low-poly-grid bg-cover bg-center bg-no-repeat blur-md"></div>
    <div class="px-4 py-16">
      <Hero />
    </div>
  </section>
  <div class="section-divider divider m-0 w-full bg-stacked-peaks bg-cover bg-center bg-no-repeat py-28">ABOUT ME</div>
  <section class="chat-bg" id="about-me">
    <div class="mockup-window mx-4 my-0 border px-4 py-4 lg:mx-32">
      <div class="chat chat-start glass px-4 py-16">
        <div class="text-justified chat-bubble my-0.5 max-w-xl">Hello again!</div>
        <div class="text-justified chat-bubble my-0.5 max-w-xl">My name is Herschel Pravin Pawar, nice to meet you</div>
        <div class="text-justified chat-bubble my-0.5 max-w-xl">
          I'm an aspiring game developer with a passion for creating immersive experiences
        </div>
        <div class="text-justified chat-bubble my-0.5 max-w-xl">
          I'm currently focused on mastering the Godot game engine and exploring the world of Linux as an enthusiast
        </div>
        <div class="text-justified chat-bubble my-0.5 max-w-xl">
          With experience in Rust and Python, along with proficiency in Photoshop and Microsoft Power Automate, I'm
          constantly expanding my skill set
        </div>
        <div class="text-justified chat-bubble my-0.5 max-w-xl">
          I'm actively pursuing RHCE (Red Hat Certified Engineer) and RHCSA (Red Hat Certified System Administrator)
          certifications to strengthen my expertise in Linux system administration
        </div>
        <div class="text-justified chat-bubble my-0.5 max-w-xl">
          With a diverse skill set and unwavering dedication to technology, I'm eager to continue pushing boundaries in
          the field of game development
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  .section-divider {
    aspect-ratio: 900/150;
  }

  .chat-bg {
    background: #c297ff;
  }
</style>
