---
import Quote from '../components/Quote.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Home">
  <div class="flex justify-center items-center h-full">
    <button class="btn loading glass"><span>
      Hello, I'm Herschel Pravin Pawar. This is my personal website which is under construction! Please come back later!
    </span></button>
    <Quote />
  </div>
</DefaultLayout>
