---
interface Props {
  dividerText?: string;
  customLeftTag?: boolean;
  customRightTag?: boolean;
}

const { dividerText, customLeftTag = false, customRightTag = false } = Astro.props;
---

<div class="flex w-full flex-col justify-evenly lg:flex-row">
  {
    customLeftTag ? (
      <slot name="left">content</slot>
    ) : (
      <div class="min-h-32 flex-grow bg-base-300">
        <slot name="left">content</slot>
      </div>
    )
  }
  <div class="divider lg:divider-horizontal">{dividerText}</div>
  {
    customRightTag ? (
      <slot name="right">content</slot>
    ) : (
      <div class="min-h-32 flex-grow bg-base-300">
        <slot name="right">content</slot>
      </div>
    )
  }
</div>
