---
import Divider from './Divider.astro';
import Quote from './Quote.astro';
---

<div class="flex w-full flex-col justify-evenly lg:flex-row">
  <Quote
    author="Chloe Gong"
    authorLink="https://www.thechloegong.com/"
    source="Our Violent Ends"
    sourceLink="https://thechloegong.com/ove/"
  >
    In this life and the next, for however long our souls remain, mine will always find yours
  </Quote>
  <div class="divider lg:divider-horizontal"></div>
  <div class="items-left rounded-box glass flex min-h-full max-w-max flex-grow flex-col justify-center px-8 shadow">
    <h1 class="text-primary-focus">
      Hello There,<br /> I'm Herschel Pravin Pawar
    </h1>
    <p class="text-secondary-focus">
      I am an aspiring game developer and Linux enthusiast with a passion for creating immersive experiences
    </p>
  </div>
</div>
